@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Racing+Sans+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background-color: #373942;
    color: orange;
}


/*Global Container*/

.container {
    max-width: 700px;
    margin: 10px auto;
}


/*Search Bar Container*/

.container-search {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    border: solid 2px orange;
    border-radius: 4px;
}

.search {
    width: 100%;
    text-transform: capitalize;
    background-color: #464037;
    color: orange;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

::placeholder {
    color: #867658;
}

.btnAll {
    padding: 0 3px;
    cursor: pointer;
    font-family: 'Racing Sans One', cursive;
    font-size: 1.4rem;
    transition: all 0.5s;
}

.btnAll:hover {
    color: #ffcb6c;
}


/*Fieldset Result*/

fieldset {
    margin: 0;
    min-height: 50vh;
    width: 100%;
    padding: 5px;
    border: solid 2px orange;
    border-radius: 4px;
}

legend {
    font-size: 1.5rem;
    color: #ffcb6c;
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul li img {
    margin-right: 5px;
    width: 55px;
    height: 30px;
    object-fit: cover;
    border-radius: 2px;
}

.ul li {
    padding: 5px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.ul li:hover {
    background-color: #867658;
    border-radius: 4px;
}

.green {
    color: #4fff4f;
}


/*No Results Message*/

ul .no-result {
    text-align: center;
    color: red;
    font-size: 2rem;
    font-style: italic;
}